@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.page {
  margin: 20px;
}

.todos {
  list-style: none;
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  padding: 0;
}

.button {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
}

.button_type_danger {
  background-color: #fdeeed;
  border: 1px solid #ed6f5d;
  color: #d15745;
}

.button_type_success {
  background-color: #edf7f4;
  border: 1px solid #66cca9;
  color: #129368;
}

.profile__avatar {
  max-width: 180px;
}
