@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.page {
  margin: 20px;
}

.todos {
  list-style: none;
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  padding: 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  width: 300px;
  gap: 16px;
  margin-bottom: 4px;
}

.todo__text {
  text-align: left;
  margin-right: auto;
}

.button {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
}

.profile__avatar {
  max-width: 180px;
}
