@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.page {
  margin: 20px;
}

.todos {
  list-style: none;
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  padding: 0;
}

.button {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
}
